$font-stack: "Gilroy-Regular", "Arial", sans-serif;

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: bold;
  font-weight: 500;
  src: url(../fonts/Gilroy-Medium.ttf);
}

.h1 {
  line-height: 80.03px;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  text-shadow: -1px 9px 13px rgba(0, 0, 0, 0.13);
  font-size: 55px;
}

.h2 {
  margin: 0;
  color: #000000;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 48px;
  letter-spacing: -0.48px;
  text-align: center;
}

.h3 {
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: #fffefe;
  letter-spacing: -0.68px;
}

.h4 {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-family: "Gilroy-Regular", "Arial", sans-serif;
}

body {
  font-family: $font-stack;
  background-color: pink;
  transition: all 0.2s;
  margin: 0;
}

section {
  .section_wrapper {
    width: 1170px;
    margin: auto;
  }
}

.header {
  .header__first_line {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: flex-end;
      align-self: center;

      .logo_svg {
        margin-right: 30px;
      }

      .logo_basement_year {
        font-family: "Gilroy-Regular", "Arial", sans-serif;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.42px;
        color: #ffffff;
      }
    }

    .header__to_right {
      display: flex;
      align-items: baseline;
      align-content: flex-end;
      margin-top: 44px;

      .header__address {
        margin-right: 105px;

        .address__text {
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 18px;
          color: #ffffff;
        }
      }

      .header__call_me {
        display: flex;
        flex-direction: column;

        .call_me__number {
          margin-bottom: 15px;
          font-size: 24px;
          letter-spacing: -0.6px;
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          font-weight: 700;
          color: #ffffff;
        }

        .call_me__button {
          display: block;
          padding: 19px 32px;
          background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
          border-radius: 4px;
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 13px;
          color: #efefef;

          // hover
        }
      }
    }
  }

  .header__second_line {
    .menu {
      margin-top: 55px;

      .menu__list {
        display: flex;
        padding: 0;
        justify-content: space-between;
        list-style-type: none;

        .menu__item {
          padding: 15px 25px;
          border-radius: 4px;
          border: 1px solid #c4c4c4;
          box-shadow: -1px 7px 13px rgba(0, 0, 0, 0.2);

          // hover
        }

        .menu__link {
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 15px;
          letter-spacing: 0.38px;
        }
      }
    }
  }
}

.main {
  background: url("../img/main-bg.png") no-repeat top center;

  .main__headers {
    margin-top: 192px;
    text-align: center;

    .h1__bigger {
      margin-top: 70px;
      margin-bottom: 0;
      font-size: 65px;
      letter-spacing: 5.4px;
    }
  }

  .main__consult {
    margin-top: 270px;
    margin-left: -25px;
    width: 1220px;
    height: 550px;
    background: url("../img/consult_bg.png") no-repeat center center;

    .consult__blue_block {
      position: relative;

      .blue_block__wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 96px;
        left: 76px;
      }

      .blue_block__h3 {
        margin-bottom: 35px;
        margin-top: 0px;
      }

      .consult__list {
        padding: 0;
        list-style-type: none;

        .consult__list_item {
          color: #f9f9f9;
          font-size: 20px;
          letter-spacing: -0.3px;
          font-family: "Gilroy-Medium", "Arial", sans-serif;
          margin-bottom: 25px;

          span {
            font-family: "Gilroy-Bold", "Arial", sans-serif;
          }
        }
      }
    }

    .consult__girl {
      position: absolute;
      right: 379px;
      top: 94px;
      width: 144px;
      height: 144px;
      background: url("../img/girl.png") no-repeat center center;
    }

    .consult__white_block {
      position: relative;

      .white_block__wrapper {
        position: absolute;
        top: 96px;
        right: 68px;
        display: flex;
        flex-direction: column;
      }

      .white_block__h4 {
        margin-top: 0;
        text-align: center;

        span {
          font-family: "Gilroy-Bold", "Arial", sans-serif;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 326px;

        input[type="text"] {
          padding: 24px 22px;
          margin-bottom: 8px;
          border-radius: 5px;
          border: 1px solid #d0d0d0;
          background-color: #ffffff;
          font-size: 17px;
          color: #9e9fa1;

          &:placeholder {
            color: #9e9fa1;
          }
        }

        input[type="button"] {
          background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
          height: 76px;
          padding-right: 120px;
          padding-top: 11px;
          color: #ffffff;
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          letter-spacing: 1.44px;
          text-transform: uppercase;
          font-size: 16px;
          text-shadow: 0 2px 10px rgba(0, 0, 0, 0.21);
          margin-bottom: 20px;
          box-shadow: -1px 7px 27px rgba(51, 102, 255, 0.41);
          border-radius: 2px;

          // focus and active
        }

        .button_icon {
          position: absolute;
          top: 246px;
          right: 22px;
          width: 77px;
          height: 83px;
          background: url("../img/btn-icon-bg.png") no-repeat center center;
        }
      }

      .consult__privacy_term {
        width: 326px;
        display: flex;

        .privacy__btn {
          margin-right: 15px;
          width: 21px;
          height: 22px;
          background: url("../img/privacy-button.png") no-repeat center center;
        }

        .privacy_term {
          width: 258px;
          font-size: 14px;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          color: #9e9fa1;

          .privacy_link {
            color: #9e9fa1;
          }
        }
      }
    }
  }
}

.services {
  .services__h2 {
    margin-top: 120px;
    margin-bottom: 40px;
  }
}
.services__tabs {
  display: flex;
  width: 1168px;
  height: 888px;
  border: 1px solid white;
  box-shadow: -2px 22px 54px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;

  .tabs {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      position: relative;
      padding-top: 40px;
      padding-left: 25px;
      margin-bottom: 1px;
      width: 335px;
      height: 70px;
      background-color: #f3f3f3;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        ::before {
          content: "";
          position: absolute;
          background: url("../img/tab-menu-item-hover.png") left center;
          width: 427px;
          height: 146px;
          margin-top: -52px;
          margin-left: -55px;
          z-index: -1;
        }

        a {
          position: absolute;
          z-index: 10;
          color: #fff;
        }
      }

      a {
        color: #000000;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.44px;
        text-decoration: none;
      }
    }
  }

  .tab_content {
    position: absolute;
    left: 498px;
    display: flex;
    height: 887px;
    width: 806px;
    background-color: lightblue;
  }

  #services__credit {
    background: url("../img/credit-tab-bg.png") no-repeat center top;
  }
}

.partnership {
  background: url("../img/partnership-block-bg.png") no-repeat top center;
  padding-top: 9px;
  margin-top: 175px;
  height: 970px; //!!!!

  .partnership__next_button {
    margin: auto;
    width: 34px;
    height: 34px;
    background-color: #3a3a3a;
    border-radius: 50px;
    background-image: linear-gradient(42deg, #0365ff 0%, #5aa5ff 100%);

    svg {
      margin: 11px;
      margin-left: 13px;
    }
  }

  .partnership__h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
  }

  .partnership__content_wrapper {
    position: relative;

    .partnership__left_block {
      position: absolute;
      left: -410px;
      width: 916px;
      height: 351px;
      box-shadow: -1px 10px 54px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      background-color: #ffffff;
      background-image: linear-gradient(32deg, #0365ff 0%, #5aa5ff 100%);

      .left_block__content {
        margin-left: 400px;
        margin-right: 80px;

        .left_block__h3 {
          margin-top: 31px;
          margin-bottom: 20px;
        }

        .partnership__text {
          margin-bottom: 0;
          color: #ffffff;
          font-size: 18px;
        }
      }

      .partnership__diagram {
        position: absolute;
        left: 358px;
        width: 387px;
        height: 391px;
        background: url("../img/diagram.png") no-repeat center top;
      }

      .partnership__left_block_link_block {
        position: absolute;
        right: 36px;
        bottom: 28px;

        svg {
          margin-right: 12px;
        }

        .partnership__more_link {
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 18px;
          color: #fefeff;
          border-bottom: 1px solid #fefeff;
          letter-spacing: 0.63px;
        }
      }
    }

    .partnership__right_block {
      position: absolute;
      width: 470px;
      left: 661px;
      top: 7px;

      .right_block__h3 {
        margin-bottom: 15px;
        margin-top: 24px;
      }

      .right_block__h4 {
        margin: 0;
        margin-bottom: 17px;
        font-family: "Gilroy-Medium", "Arial", sans-serif;
        color: #5aa5ff;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.45px;
      }

      .partnership__list {
        padding: 0;
        list-style-type: none;

        .partnership__list_item {
          color: #e4e4e4;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 10px;

          &::before {
            content: "";
            margin-left: -16px;
            margin-top: 9px;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50px;
            background-color: #69aafc;
          }
        }
      }
    }
  }
}

.partners {
  height: 500px;
  margin-top: -50px;

  #partners_slider {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    list-style-type: none;

    // .partners_h2 {
    // }

    .slide {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: opacity 1s;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 5;

      &.showing {
        opacity: 1;
        z-index: 7;
      }

      .first_line, .sec_line{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .sec_line {
        margin-top: 150px;
      }

      .partners_block {
        width: 216px;
        height: 116px;
        box-shadow: -1px 8px 17px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
      }
    }
  }

  .slide_act {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 250px;
    width: 18px;
    height: 18px;
    border: 1px solid #dcdcdc;

    .inner__div {
      background-color: #dcdcdc;
      border-radius: 50px;
      width: 12px;
      height: 12px;
    }

    .active .inner__div {
      background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
    }

    &.slide_1 {
      margin-right: 5px;
    }
  }
}
