$font-stack: "Gilroy-Regular", "Arial", sans-serif;

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: bold;
  font-weight: 500;
  src: url(../fonts/Gilroy-Medium.ttf);
}

.h1 {
  line-height: 80.03px;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  text-shadow: -1px 9px 13px rgba(0, 0, 0, 0.13);
  font-size: 55px;
}

.h2 {
  margin: 0;
  color: #000000;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 48px;
  letter-spacing: -0.48px;
  text-align: center;
}

.h3 {
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: #fffefe;
  letter-spacing: -0.68px;
}

.h4 {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-family: "Gilroy-Regular", "Arial", sans-serif;
}

body {
  justify-content: center;
  font-family: $font-stack;
  transition: all 0.2s;
  margin: auto;
  max-width: 1920px;
  width: 100%;
  padding: 0;
}

.button_wrapper {
  position: relative;
  margin-top: 60px;

  .button {
    width: 235px;
    padding: 28px 0 28px 40px;
    display: block;
    background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
    border-radius: 4px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1.44px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.21);
  }

  .button_icon {
    top: 1px;
    left: 173px;
    position: absolute;
    width: 77px;
    height: 88px;
    background: url("../img/batton-bg-icon.svg") no-repeat center center;
  }

  .button_addition_icon {
    top: 0px;
    position: absolute;
    width: 80px;
    height: 76px;
    background: url("../img/question-button-bg.svg") no-repeat left bottom;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 326px;

  input[type="text"] {
    padding: 24px 22px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    font-size: 17px;
    color: #9e9fa1;

    &:placeholder {
      color: #9e9fa1;
    }
  }

  input[type="button"] {
    background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
    height: 76px;
    padding-right: 120px;
    padding-top: 11px;
    color: #ffffff;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.21);
    margin-bottom: 20px;
    box-shadow: -1px 7px 27px rgba(51, 102, 255, 0.41);
    border-radius: 2px;

    // focus and active
  }

  .button_icon {
    position: absolute;
    top: 246px;
    right: 22px;
    width: 77px;
    height: 83px;
    background: url("../img/btn-icon-bg.png") no-repeat center center;
  }
}

.consult__privacy_term {
  width: 326px;
  display: flex;

  .privacy__btn {
    margin-right: 15px;
    width: 21px;
    height: 22px;
    background: url("../img/privacy-button.png") no-repeat center center;
  }

  .privacy_term {
    width: 258px;
    font-size: 14px;
    font-family: "Gilroy-Regular", "Arial", sans-serif;
    color: #9e9fa1;

    .privacy_link {
      color: #9e9fa1;
    }
  }
}

section {
  max-width: 1920px;

  .section_wrapper {
    width: 1170px;
    margin: auto;
  }
}

.header {
  .header__first_line {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: flex-end;
      align-self: center;

      .logo_svg {
        margin-right: 30px;
      }

      .logo_basement_year {
        font-family: "Gilroy-Regular", "Arial", sans-serif;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.42px;
        color: #ffffff;
      }
    }

    .header__to_right {
      display: flex;
      align-items: baseline;
      align-content: flex-end;
      margin-top: 44px;

      .header__address {
        margin-right: 105px;

        .address__text {
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 18px;
          color: #ffffff;
        }
      }

      .header__call_me {
        display: flex;
        flex-direction: column;

        .call_me__number {
          margin-bottom: 15px;
          font-size: 24px;
          letter-spacing: -0.6px;
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          font-weight: 700;
          color: #ffffff;
        }

        .call_me__button {
          display: block;
          padding: 19px 32px;
          background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
          border-radius: 4px;
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 13px;
          color: #efefef;

          // hover
        }
      }
    }
  }

  .header__second_line {
    .menu {
      margin-top: 55px;

      .menu__list {
        display: flex;
        padding: 0;
        justify-content: space-between;
        list-style-type: none;

        .menu__item {
          border-radius: 4px;
          border: 1px solid #c4c4c4;
          box-shadow: -1px 7px 13px rgba(0, 0, 0, 0.2);

          // hover
        }

        .menu__link {
          padding: 15px 25px;
          display: block;
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 15px;
          letter-spacing: 0.38px;
        }
      }
    }
  }
}

.main {
  background: url("../img/main-bg.png") no-repeat top center;
  min-width: 1300px;

  .main__headers {
    margin-top: 192px;
    text-align: center;

    .h1__bigger {
      margin-top: 70px;
      margin-bottom: 0;
      font-size: 65px;
      letter-spacing: 5.4px;
    }
  }

  .main__consult {
    margin-top: 270px;
    margin-left: -25px;
    width: 1220px;
    height: 550px;
    background: url("../img/consult_bg.png") no-repeat center center;

    .consult__blue_block {
      position: relative;

      .blue_block__wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 96px;
        left: 76px;
      }

      .blue_block__h3 {
        margin-bottom: 35px;
        margin-top: 0px;
      }

      .consult__list {
        padding: 0;
        list-style-type: none;

        .consult__list_item {
          color: #f9f9f9;
          font-size: 20px;
          letter-spacing: -0.3px;
          font-family: "Gilroy-Medium", "Arial", sans-serif;
          margin-bottom: 25px;

          span {
            font-family: "Gilroy-Bold", "Arial", sans-serif;
          }
        }
      }
    }

    .consult__girl {
      position: absolute;
      right: 379px;
      top: 94px;
      width: 144px;
      height: 144px;
      background: url("../img/girl.png") no-repeat center center;
    }

    .consult__white_block {
      position: relative;

      .white_block__wrapper {
        position: absolute;
        top: 96px;
        right: 68px;
        display: flex;
        flex-direction: column;
      }

      .white_block__h4 {
        margin-top: 0;
        text-align: center;

        span {
          font-family: "Gilroy-Bold", "Arial", sans-serif;
        }
      }
    }
  }
}

.services {
  min-width: 1300px;
  .services__h2 {
    margin-top: 120px;
    margin-bottom: 40px;
  }
}
.services__tabs {
  margin: auto;
  display: flex;
  width: 1168px;
  height: 888px;
  border: 1px solid white;
  box-shadow: -2px 22px 54px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;

  .tabs {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      position: relative;
      padding-top: 40px;
      padding-left: 25px;
      margin-bottom: 1px;
      width: 335px;
      height: 70px;
      background-color: #f3f3f3;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        ::before {
          content: "";
          position: absolute;
          background: url("../img/tab-menu-item-hover.png") left center;
          width: 427px;
          height: 146px;
          margin-top: -52px;
          margin-left: -55px;
          z-index: -1;
        }

        a {
          position: absolute;
          z-index: 10;
          color: #fff;
        }
      }

      a {
        color: #000000;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.44px;
        text-decoration: none;
      }
    }
  }

  .tab_content {
    display: flex;
    margin-left: 1px;
    height: 887px;
    width: 806px;
    background-color: lightblue;

    .bold {
      font-family: "Gilroy-Bold", "Arial", sans-serif;
    }

    .tab_content_p_text {
      width: 640px;
      margin-top: 20px;
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      line-height: 35px;
      font-family: "Gilroy-Regular", "Arial", sans-serif;
    }

    .tab_content_wrapper {
      padding-left: 80px;
      padding-top: 90px;
      padding-right: 60px;

      .h3_tab {
        font-family: "Gilroy-Regular", "Arial", sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: #ffffff;
        margin: 0px;
        margin-bottom: 50px;
      }
      .quote_wrapper {
        display: flex;
        flex-wrap: wrap;

        .tab_quote {
          position: relative;
          display: block;
          margin-bottom: 40px;
          padding-left: 15px;
          width: 213px;
          color: #e2e2e2;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;

          &::before {
            content: "";
            position: absolute;
            left: -4px;
            top: 7px;
            display: block;
            margin-bottom: -30px;
            margin-right: 12px;
            width: 4px;
            height: 44px;
            background-color: #55c3ff;
            background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
          }
        }
      }

      .tab_content_list {
        position: relative;
        list-style-type: none;
        padding: 0;
        margin-bottom: 60px;

        .tab_content_list_item {
          color: #e2e2e2;
          margin-top: 25px;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 20px;
          font-weight: 400;

          &::before {
            content: "";
            position: absolute;
            left: -25px;
            margin-top: 5px;
            width: 9px;
            height: 9px;
            border-radius: 50px;
            display: block;
            background-color: #4d59a1;
            background-image: linear-gradient(25deg, #0365ff 0%, #5aa5ff 100%);
          }
        }
      }
    }
  }

  #services__credit {
    background: url("../img/credit-tab-bg.png") no-repeat center top;
  }

  #services__buy {
    background: url("../img/services-tab-bg.png") no-repeat center top;
  }

  #services__sell {
    background: url("../img/sell-tab-bg.png") no-repeat center top;
  }

  #services__jur {
    background: url("../img/jur-tab-bg.png") no-repeat center top;

    .button_wrapper {
      margin-top: 40px;

      .button {
        width: 354px;
      }

      .button_icon {
        left: 293px;
      }
    }

    .h3_tab {
      margin-top: 10px;
      margin-bottom: 40px;
    }

    .tab_content_wrapper {
      padding-right: 40px;
      padding-top: 50px;
    }

    .tab_content_list_item {
      margin-top: 20px;
    }
  }

  #services__mark {
    background: url("../img/mark-tab-bg.png") no-repeat center top;

    .tab_content_wrapper {
      padding-right: 0px;
    }

    .button_wrapper {
      margin-top: 40px;

      .button {
        width: 354px;
      }

      .button_icon {
        left: 293px;
      }
    }

    .tab_quote {
      width: auto;
      margin-left: -17px;
      margin-right: 45px;
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  #services__obj {
    background: url("../img/obj-tab-bg.png") no-repeat center top;

    .tab_quote {
      width: 649px;
      font-size: 20px;
    }

    .button_wrapper {
      margin-top: 40px;

      .button {
        width: 354px;
      }

      .button_icon {
        left: 293px;
      }
    }
  }

  #services__vikup {
    background: url("../img/vikup-tab-bg.png") no-repeat center top;

    .tab_quote {
      margin-left: -17px;
      width: 631px;
      font-size: 24px;
      line-height: 30px;
    }

    .button_wrapper {
      margin-top: 40px;

      .button {
        width: 354px;
      }

      .button_icon {
        left: 293px;
      }
    }

    .tab_content_wrapper {
      padding-right: 15px;
    }

    .tab_content_p_text {
      color: #ffffff;
      font-size: 28px;
      letter-spacing: -0.14px;
    }
  }

  #services__arenda {
    background: url("../img/arenda-tab-bg.png") no-repeat center top;

    .tab_content_wrapper {
      padding-right: 15px;
    }

    .tab_content_p_text {
      padding-bottom: 60px;
      font-size: 24px;
      color: #e2e2e2;
      line-height: 32px;
      font-weight: 500;
      line-height: 32px;
    }

    .button_wrapper {
      margin-top: 40px;

      .button {
        width: 354px;
      }

      .button_icon {
        left: 293px;
      }
    }

    .tab_quote {
      padding-top: 15px;
      color: #e2e2e2;
      font-size: 20px;
      margin-left: -17px;
      margin-bottom: 55px;
      width: 660px;
      line-height: 30px;
    }
  }
}

.partnership {
  min-width: 1300px;
  background: url("../img/partnership-block-bg.png") no-repeat top center;
  padding-top: 9px;
  margin-top: 175px;
  height: 970px; //!!!!

  .partnership__next_button {
    margin: auto;
    width: 34px;
    height: 34px;
    background-color: #3a3a3a;
    border-radius: 50px;
    background-image: linear-gradient(42deg, #0365ff 0%, #5aa5ff 100%);

    svg {
      margin: 11px;
      margin-left: 13px;
    }
  }

  .partnership__h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
  }

  .partnership__content_wrapper {
    position: relative;

    .partnership__left_block {
      position: absolute;
      left: -410px;
      width: 916px;
      height: 351px;
      box-shadow: -1px 10px 54px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      background-color: #ffffff;
      background-image: linear-gradient(32deg, #0365ff 0%, #5aa5ff 100%);

      .left_block__content {
        margin-left: 400px;
        margin-right: 80px;

        .left_block__h3 {
          margin-top: 31px;
          margin-bottom: 20px;
        }

        .partnership__text {
          margin-bottom: 0;
          color: #ffffff;
          font-size: 18px;
        }
      }

      .partnership__diagram {
        position: absolute;
        left: 358px;
        width: 387px;
        height: 391px;
        background: url("../img/diagram.png") no-repeat center top;
      }

      .partnership__left_block_link_block {
        position: absolute;
        right: 36px;
        bottom: 28px;

        svg {
          margin-right: 12px;
        }

        .partnership__more_link {
          font-family: "Gilroy-Bold", "Arial", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 18px;
          color: #fefeff;
          border-bottom: 1px solid #fefeff;
          letter-spacing: 0.63px;
        }
      }
    }

    .partnership__right_block {
      position: absolute;
      width: 470px;
      left: 661px;
      top: 7px;

      .right_block__h3 {
        margin-bottom: 15px;
        margin-top: 24px;
      }

      .right_block__h4 {
        margin: 0;
        margin-bottom: 17px;
        font-family: "Gilroy-Medium", "Arial", sans-serif;
        color: #5aa5ff;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.45px;
      }

      .partnership__list {
        padding: 0;
        list-style-type: none;

        .partnership__list_item {
          color: #e4e4e4;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 10px;

          &::before {
            content: "";
            margin-left: -16px;
            margin-top: 9px;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50px;
            background-color: #69aafc;
          }
        }
      }
    }
  }
}

.partners {
  min-width: 1300px;
  height: 500px;
  margin-top: -50px;

  #partners_slider {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    list-style-type: none;

    // .partners_h2 {
    // }

    .slide {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: opacity 1s;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 5;

      &.showing {
        opacity: 1;
        z-index: 7;
      }

      .first_line,
      .sec_line {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .sec_line {
        margin-top: 150px;
      }

      .partners_block_1 {
        background: url("../img/partners_block_icon_1.png") no-repeat center
          center;
      }

      .partners_block_2 {
        background: url("../img/partners_block_icon_2.png") no-repeat center
          center;
      }

      .partners_block_3 {
        background: url("../img/partners_block_icon_3.png") no-repeat center
          center;
      }

      .partners_block_4 {
        background: url("../img/partners_block_icon_4.png") no-repeat center
          center;
      }

      .partners_block_5 {
        background: url("../img/partners_block_icon_5.png") no-repeat center
          center;
      }

      .partners_block_6 {
        background: url("../img/partners_block_icon_6.png") no-repeat center
          center;
      }

      .partners_block_7 {
        background: url("../img/partners_block_icon_7.png") no-repeat center
          center;
      }

      .partners_block_8 {
        background: url("../img/partners_block_icon_8.png") no-repeat center
          center;
      }

      .partners_block_9 {
        background: url("../img/partners_block_icon_9.png") no-repeat center
          center;
      }

      .partners_block_10 {
        background: url("../img/partners_block_icon_10.png") no-repeat center
          center;
      }

      .partners_block_11 {
        background: url("../img/partners_block_icon_11.png") no-repeat center
          center;
      }

      .partners_block_12 {
        background: url("../img/partners_block_icon_12.png") no-repeat center
          center;
      }

      .partners_block_13 {
        background: url("../img/partners_block_icon_13.png") no-repeat center
          center;
      }

      .partners_block_14 {
        background: url("../img/partners_block_icon_14.png") no-repeat center
          center;
      }

      .partners_block_15 {
        background: url("../img/partners_block_icon_15.png") no-repeat center
          center;
      }

      .partners_block_16 {
        background: url("../img/partners_block_icon_16.png") no-repeat center
          center;
      }

      .partners_block_17 {
        background: url("../img/partners_block_icon_17.png") no-repeat center
          center;
      }

      .partners_block_18 {
        background: url("../img/partners_block_icon_18.png") no-repeat center
          center;
      }

      .partners_block_19 {
        background: url("../img/partners_block_icon_19.png") no-repeat center
          center;
      }

      .partners_block_20 {
        background: url("../img/partners_block_icon_20.png") no-repeat center
          center;
      }

      .partners_block {
        width: 216px;
        height: 116px;
        box-shadow: -1px 8px 17px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
      }
    }
  }

  .slide_act {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 250px;
    width: 18px;
    height: 18px;
    border: 1px solid #dcdcdc;

    & .inner__div {
      background-color: #dcdcdc;
      border-radius: 50px;
      width: 12px;
      height: 12px;
    }

    &.active .inner__div {
      background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
    }

    &.slide_1 {
      margin-right: 5px;
    }
  }

  .slide_act_wrapper {
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 42px;
    height: 18px;
  }
}

.footer {
  min-width: 1300px;
  margin-top: 150px;
  height: 722px;
  display: flex;

  .contacts__wrapper {
    float: right;
    width: 435px;

    .contacts__h2 {
      margin-left: -55px;
      margin-bottom: 50px;
      color: #fff;
      text-align: left;
    }
  }

  .contacts {
    width: 45%;
    color: #fff;
    padding-top: 105px;
    background: url("../img/contacts-bg.png") no-repeat top center;

    .contacts__list {
      list-style-type: none;
      padding: 0;

      .contacts__list_item {
        font-family: "Gilroy-Medium", "Arial", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;

        .contact_icon_wrapper {
          margin-left: -55px;
          margin-bottom: -25px;
          width: 34px;
          height: 34px;
          background-color: #e8e8e8;
          border-radius: 50px;

          .contact_icon {
            width: 34px;
            height: 34px;
          }
        }

        &:nth-child(1) .contact_icon_wrapper .contact_icon {
          background: url("../img/contact-icon-1.png") no-repeat center center;
        }

        &:nth-child(2) .contact_icon_wrapper .contact_icon {
          background: url("../img/contact-icon-2.png") no-repeat center center;
        }

        &:nth-child(3) .contact_icon_wrapper .contact_icon {
          background: url("../img/contact-icon-3.png") no-repeat center center;
        }

        &:nth-child(4) .contact_icon_wrapper .contact_icon {
          background: url("../img/contact-icon-4.png") no-repeat center center;
        }
      }
    }

    .contacts_button {
      margin-top: 52px;
      margin-left: -55px;
      width: 284px;
      padding: 27px 0 27px 40px;
      display: block;
      background-image: linear-gradient(to top, #0365ff 0%, #5aa5ff 100%);
      border-radius: 4px;
      font-family: "Gilroy-Bold", "Arial", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 1.44px;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.21);
    }

    .button_icon {
      top: 1px;
      left: 173px;
      position: absolute;
      width: 77px;
      height: 83px;
      background: url("../img/btn-icon-bg.png") no-repeat center center;
    }

    .button_phone_icon {
      top: 22px;
      left: -57px;
      position: absolute;
      width: 80px;
      height: 51px;
      background: url("../img/button-bg-phone-icon.png") no-repeat left bottom;
    }

    .contacts_button_wrapper {
      position: relative;
    }

    .contacts__phone {
      font-family: "Gilroy-Bold", "Arial", sans-serif;
      font-weight: 700;
    }

    .contacts_bottom_line {
      position: relative;
      display: block;
      margin-top: 510px;
      padding-right: 375px;
      height: 105px;
      background-color: rgba(39, 39, 39, 0.7);

      .privacy_link {
        display: block;
        width: 264px;
        float: right;
        margin-right: -150px;
        margin-top: 40px;
        color: #aeaeae;
        font-family: "Gilroy-Regular", "Arial", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
        letter-spacing: -0.09px;
        opacity: 0.7;
      }
    }
  }

  .map {
    width: 55%;
  }
}

.modal__title {
  color: #000000;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.18px;
}

.modal__content {
  .button_wrapper {
    margin-left: 56px;
    margin-top: 105px;
    
    .button {
      width: 360px;
    }

    .button_icon {
      left: 303px;
    }
  }

  .modal_main_block {
    display: flex;
    padding-right: 60px;

    .photo_block {
      position: relative;
      width: auto;

      .blue_block {
        position: absolute;
        top: 42px;
        z-index: -1;
        width: 284px;
        height: 271px;
        background-color: #ffffff;
        background-image: linear-gradient(32deg, #0365ff 0%, #5aa5ff 100%);
      }

      .photo_card {
        margin-left: 55px;
        width: 247px;
        height: 376px;
        box-shadow: -1px 10px 40px rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        background-color: #ffffff;

        .photo_card_content {
          padding-top: 18px;

          img {
            margin-left: 19px;
            margin-bottom: 14px;
            display: block;
            width: 210px;
            height: 245px;
            opacity: 0.9;
          }

          .name {
            display: block;
            padding-left: 19px;
            color: #000000;
            font-family: "Gilroy-Medium", "Arial", sans-serif;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.1px;
          }

          .job {
            display: block;
            padding-left: 19px;
            margin-bottom: 20px;
            margin-top: 15px;
            color: #1c75ff;
            font-family: "Gilroy-Regular", "Arial", sans-serif;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.46px;
          }
        }

        .blue_line {
          width: 247px;
          height: 8px;
          border-radius: 0 0 5px 5px;
          background-color: #ffffff;
          background-image: linear-gradient(to right, #0365ff 0%, #5aa5ff 100%);
        }
      }
    }

    .text_block {
      width: 868px;

      .text {
        display: block;
        margin-left: 55px;
        color: #2a2a2a;
        font-family: "Gilroy-Regular", "Arial", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }

  .modal_number_block {
    margin-top: 35px;
    background-color: #f9f9f9;
    padding-top: 35px;
    padding-bottom: 35px;

    .number__list {
      list-style-type: none;

      .number_list_item {
        display: flex;
        margin-top: 35px;
        align-items: center;

        .number_icon {
          border-radius: 50px;
          min-width: 63px;
          min-height: 63px;
          max-height: 63px;
          border: 1px solid #dcdcdc;
          background-color: #ffffff;
        }

        .number_text {
          display: flex;
          align-items: center;
          margin-right: 150px;
          margin-left: 31px;
          font-size: 22px;
          color: #000000;
          line-height: 30px;
        }
      }

      .number_icon_2 {
        background: url("../img/number_icon_2.png") no-repeat center center;
      }

      .number_icon_1 {
        background: url("../img/number_icon_1.png") no-repeat center center;
      }

      .number_icon_3 {
        background: url("../img/number_icon_3.png") no-repeat center center;
      }
    }
  }


  .modal_h4 {
    margin-top: 44px;
    margin-bottom: 38px;
    text-align: center;
    color: #000000;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    /* Text style for "Распростра" */
    letter-spacing: -0.15px;
  }

  .modal_advantages_block {
    padding: 0 55px;

    .adv_blocks {
      display: flex;
      flex-wrap: wrap;

      .adv_block {
        display: flex;
        align-items: center;
        width: 500px;
        height: 80px;
        border-radius: 5px;
        border: 1px solid #dcdcdc;
        background-color: #f9f9f9;
        margin-right: 51px;
        margin-bottom: 25px;
  
        &:nth-child(2n) {
          margin-right: 0;
        }

        span {
          margin-left: 80px;
          color: #1d1d1d;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .adv_cross .adv_block {
      background: url("../img/cross-icon.png") no-repeat 25px center;
    }

    .adv_like .adv_block {
      background: url("../img/like-icon.png") no-repeat 25px center;
    }
    
  }

  .modal_questions_block {
    display: flex;
    background: url("../img/any-questions-bg.png") no-repeat center center;
    height: 202px;
    padding-left: 55px;
    margin-top: 15px;

    .questions_text {
      display: flex;
      flex-direction: column;

      .big_blue {
        margin-top: 43px;
        display: block;
        color: #277dff;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.75px;
      }

      .little_white {
        display: block;
        width: 250px;
        margin-top: 10px;
        color: #f1f1f1;
        font-family: "Gilroy-Regular", "Arial", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
      }
    }

    .form_wrapper {
      margin-top: 40px;
      margin-left: 90px;
      position: relative;

      form {
        position: relative;
        display: flex;
        flex-direction: row;
        width: auto;
        
        input {
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          margin-bottom: 0;
          padding-left: 40px;
        }

        input[type="button"] {
          margin-left: 17px;
        }

        input[type="text"] {
          width: 280px;
          padding-left: 23px;
        }

        .button_icon {
          right: 17px;
          top: 3px;
        }
      }

      .consult__privacy_term {
        margin-top: 16px;
        float: right;
      }
    }
  }

  .modal_withus {
    .withus_wrapper {
      padding: 0 55px 60px 55px;
      display: flex;
      justify-content: space-between;

      .block {
        width: 338px;
        height: 219px;
        box-shadow: -1px 10px 18px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        border: 1px solid #dcdcdc;
        background-color: #f9f9f9;
        background-image: linear-gradient(51deg, #0365ff 0%, #5aa5ff 100%);
      
        span {
          display: block;
          padding-top: 120px;
          text-align: center;
          color: #ffffff;
          font-family: "Gilroy-Regular", "Arial", sans-serif;
          font-size: 22px;
          font-weight: 500;
        }

        &:nth-child(1) span{
          background: url("../img/withus_1.png") no-repeat center 40px;
        }

        &:nth-child(2) span{
          background: url("../img/withus_2.png") no-repeat center 40px;
        }

        &:nth-child(3) span{
          background: url("../img/withus_3.png") no-repeat center 40px;
        }
      }
    }
  }
}

#popup_2 {
  .number_text {
    font-size: 18px;
  }

  .button_wrapper {
    margin-top: 64px;
  }

  .withus_wrapper {
    .block {
      width: 252px;
      height: 219px;

      &:nth-child(2) span{
        background: url("../img/withus_4.png") no-repeat center 40px;
      }

      &:nth-child(3) span{
        background: url("../img/withus_5.png") no-repeat center 40px;
      }

      &:nth-child(4) span{
        background: url("../img/withus_6.png") no-repeat center 40px;
      }
    }
  }
}

#main_popup {
  .modal__container {
    width: 440px;
    height: 527px;
    box-shadow: -1px 7px 101px rgba(0, 0, 0, 0.59);
    border-radius: 5px;
    background-color: #f9f9f9;

    .h4 {
      margin-top: 64px;
      text-align: center;

      span {
        font-family: "Gilroy-Bold", "Arial", sans-serif;
      }
    }

    form {
      margin-left: 54px;

      .button_icon {
        top: 307px;
        left: 281px;
      }

      input[type="button"] {
        height: 76px;
      }
    }

    .consult__privacy_term {
      margin-left: 54px;
    }
  }
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/popup-close.png") no-repeat center center;
  width: 38px;
  height: 38px;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  max-width: 1920px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  width: 100vw; 
  height: 100vh; 
  overflow: auto;
  background-color: #fff;
  // padding: 30px;
  width: 1170px;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
